.form-section {
	max-width: 100%;
}

.form-top {
	display: flex;
	justify-content: right;
	gap: 6px;
	padding: 0 1em;
	margin-bottom: 0.2em;
}

.grid-container {
	flex: 1;
	min-width: min(40em, 50vw);
	background: #333;
	max-width: 100%;
	border-radius: 8px;
	padding: 1em;
	text-align: left;
}

.grid {
	display: grid;
	align-items: center;
	row-gap: 0.65em;
	column-gap: 1em;
	max-width: 100%;
	overflow: auto;
}

.column-top {
	display: flex;
	justify-content: center;
	gap: 4px;
}

.grid h2,
.grid h3 {
	margin: 8px 0;
}

.grid h2 {
	font-size: 1.5em;
}

.grid h3 {
	font-size: 1.25em;
}

.mini-col {
	justify-self: end;
}

.mini-col:not(:empty):not(.first-col) {
	margin-left: 1em;
}

.output {
	margin: 4px 0;
}

.has-desc {
	text-decoration: underline dotted;
	cursor: help;
}