* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background: #222;
	color: #ffffff;
	margin: 8px;
}

main {
	margin: auto;
}

main > * {
	margin: 2rem 0 0 0;
	text-align: center;
}

footer > :not(:first-child) {
	margin-top: 1em;
	text-align: center;
}

a {
	color: rgb(79, 203, 245);
}

a:visited {
	color: rgb(235, 131, 235);
}

.center-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vertical-align > * {
	vertical-align: middle;
}

.pos {
	color: rgb(0, 210, 0);
}

.neg {
	color: rgb(220, 0, 0);
}