* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background: #222;
	color: #fff;
	margin: 8px;
}

main {
	margin: auto;
	font-size: 0.9em;
	text-align: center;
}

a {
	color: #4fcbf5;
}

button {
	font-size: unset;
	border-radius: 4px;
}

a:visited {
	color: #eb83eb;
}

.center-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pos {
	color: #00d200;
}

.neg {
	color: #dc0000;
}