.row-label {
	display: flex;
	align-items: center;
}

.has-desc {
	text-decoration: underline dotted;
	cursor: help;
}

.label-icon svg {
	width: 1.15em;
	margin-right: 0.35em;
	vertical-align: middle;
}