.svg-button {
	color: #fff;
	background: none;
	padding: 4px;
	margin: 0;
	border: none;
	cursor: pointer;
	font-size: unset;
	border-radius: 4px;
}

.svg-button-mini {
	padding: 0;
}

.svg-button:disabled {
	opacity: 0.75;
}

.svg-button:hover,
.svg-button:focus {
	background: #444;
}

.svg-button-mini:hover,
.svg-button-mini:focus,
.svg-button:disabled:hover,
.svg-button:disabled:focus {
	background: none;
}

.svg-button svg {
	height: 1.4em;
}

.svg-button-mini svg {
	height: 1em;
}

.svg-button * {
	vertical-align: middle;
}